<!DOCTYPE html>
<html>
  <head>
    <title>PIZZA!</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <script type="module" src="/javascripts/script.js" defer></script>
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>


