<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style-ordersubmitted.css' />
    <title>Thank you!</title>
</head>
<body>
    <h3>Good news! Your takeaway is on its way…</h4>
    <h4>Thank you for placing your order with Cold Pizzas.</h4>
    <h5>We hope you enjoy it and look forward to hearing from you again soon.</h5>
    <button onclick="redirect()">WANT MORE ?!</button>
    <script>
        function redirect() {
                window.location.replace("http://127.0.0.1:3000/pizzas/list")
            }
    </script>
</body>
</html>