@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
}

hr{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    background-color: rgb(252, 0, 33);
    border: none;
    box-shadow: 0px 2px 5px gray;
    margin-bottom: 5px;
}

#root{
    overflow: hidden;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.navBarContainer{
    z-index: 100;
    width: 100vw;
    position: fixed;
    height: 10vh;
    background-color: rgb(252, 0, 33);
    display: flex;
    flex-direction: column;
    box-shadow: 1px 3px 3px 4px rgb(252, 0, 33);
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 10px 25px;
}

nav h1 {
    font-size: 2.5rem;
    letter-spacing: 10px;
    -webkit-text-stroke: .8px wheat;
}

.allAllergensContainer{
    min-height: 180px; 
    background-color: gray;
    display: flex;
    justify-content: center;
    width: 100%;
    font-family: monospace;
    font-size: 14px;  
    margin-bottom: 4%
}
.container {
    position: absolute;
    left: 0;
    top: 8%;
    width: 100%;
    height: 190px;
    animation: animate 20s ease-in-out infinite;
    background-size: cover;
    background-position: center;
}
.outer {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 190px;
    background: rgb(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}
@keyframes animate {
    0%,
    100% {
      background-image: url("https://wallpaperaccess.com/full/424487.jpg");
    }
    25% {
      background-image: url("https://wallpapercave.com/wp/wc1813154.jpg");
    }
    50% {
      background-image: url("https://wallpaper.dog/large/20483642.jpg");
    }
    75% {
      background-image: url("https://images7.alphacoders.com/434/434468.jpg");
    }
}
.toggler {
    /* width: 92px; */
    /* margin: 40px auto; */
    scale: .5;;
  }
.toggler input {
    display: none;
}
.toggler label {
    display: block;
    position: relative;
    width: 72px;
    height: 36px;
    border: 5px solid #d6d6d6;
    border-radius: 36px;
    background: #e4e8e8;
    cursor: pointer;
}
.toggler label::after {
    display: block;
    border-radius: 100%;
    /* background-color: #d7062a; */
    background-color: #50ac5d;
    content: '';
    animation-name: toggler-size;
    animation-duration: 0.15s;
    animation-timing-function: ease-out;
    animation-direction: forwards;
    animation-iteration-count: 1;
    animation-play-state: running;
}
.toggler label::after, .toggler label .toggler-on, .toggler label .toggler-off {
    position: absolute;
    top: 50%;
    left: 25%;
    width: 26px;
    height: 26px;
    transform: translateY(-50%) translateX(-50%);
    transition: left 0.15s ease-in-out, background-color 0.2s ease-out, width 0.15s ease-in-out, height 0.15s ease-in-out, opacity 0.15s ease-in-out;
}
.toggler input:checked + label::after, .toggler input:checked + label .toggler-on, .toggler input:checked + label .toggler-off {
    left: 75%;
}
.toggler input:checked + label::after {
    /* background-color: #50ac5d; */
    background-color: #d7062a;
    animation-name: toggler-size2;
}
.toggler .toggler-on, .toggler .toggler-off {
    opacity: 1;
    z-index: 2;
}
.toggler input:checked + label .toggler-off, .toggler input:not(:checked) + label .toggler-on {
    width: 0;
    height: 0;
    opacity: 0;
} 
.outer span {
    color: rgb(251, 233, 169);
    font-size: 1.4em;
    font-family: 'Open Sans', sans-serif;
}

.outer span::first-letter{
    text-transform: uppercase;
}

.toggler .path {
    fill: none;
    stroke: #fefefe;
    stroke-width: 7px;
    stroke-linecap: round;
    stroke-miterlimit: 10;
}
@keyframes toggler-size {
    0%, 100% {
      width: 26px;
      height: 26px;
}
    50% {
      width: 20px;
      height: 20px;
    }
}
@keyframes toggler-size2 {
    0%, 100% {
      width: 26px;
      height: 26px;
    }
    50% {
      width: 20px;
      height: 20px;
    }
}

.allPizzasContainer{
    padding: 7.5% 15%;
    min-height: 810px;
    background-image: url("https://i.pinimg.com/originals/f9/4f/f6/f94ff64779390388ed195ff704c44c2b.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}
.pizzaContainer{
    border-radius: 10px;
    width: 23%;
    min-height: 60vh;
    background-color: rgb(255, 233, 160);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.pizzaImg{
    border-radius: 10px 10px 0px 0px;
    width: 100%;
}
.pizzaName{
    color: rgb(252, 0, 33);
    font-size: 19px;
    margin-top: 5px;
    margin-bottom: 10px;
    -webkit-text-stroke: 1.2px rgb(252, 0, 33);
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    
}
.pizzaIngredients{
    padding-right: 15px;
    padding-left: 15px;
    font-size: 18px;
    font-weight: 800;
    font-family: 'Open Sans', sans-serif;
    margin: 10% 0;
}
.buttonsContainer{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}
.counterContainer{
    display: flex;
    flex-direction: row-reverse;
    padding-bottom: 10px;
}
.counterContainer h2{
    width: 20px;
    padding-top: 8px;
    font-weight: bold;
}

.countDisplay{
    font-family: 'Open Sans', sans-serif;
}
.addButton {
    font-family: inherit;
    font-size: 20px;
    background: rgb(252, 0, 33);
    color: whitesmoke;
    padding: 0.7em 1em;
    padding-left: 0.9em;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 0px 0px 10px 10px;
    overflow: hidden;
    transition: all 0.2s;
    width: 100%;
    cursor:grab;
}
.addButton span {
    display: block;
    margin-left: 0.3em;
    transition: all 0.3s ease-in-out;
} 
.addButton svg {
    display: block;
    transform-origin: center center;
    transition: transform 0.3s ease-in-out;
}
.addButton:hover .svg-wrapper {
    animation: fly-1 0.6s ease-in-out infinite alternate;
}
.addButton:hover svg {
    transform: translateX(6.2em) scale(1.1);
}
.addButton:hover span {
    transform: translateX(15em);
}
.addButton:active svg{
    transform: translateX(6.2em) scale(2.3);
}
@keyframes fly-1 {
    from {
        transform: translateY(0.1em);
    }
    to {
        transform: translateY(-0.1em);
    }
}
.pizzaPrice{
    padding-left: 20px;
    border-left: 2px ridge whitesmoke;
}
   
.increment {
    scale: .7;
   --button_radius: 50%;
   --button_color: #E9E9DF;
   --button_outline_color: #000000;
   font-size: 17px;
   font-weight: bold;
   border: none;
   border-radius: var(--button_radius);
   background: var(--button_outline_color);
   margin-left: 10px;
}
.decrement {
    scale: .7;
    --button_radius: 55%;
    --button_color: #E9E9DF;
    --button_outline_color: #000000;
    font-size: 17px;
    font-weight: bold;
    border: none;
    border-radius: var(--button_radius);
    background: var(--button_outline_color);
    margin-right: 10px;
 }
.button_top {
   display: block;
   box-sizing: border-box;
   border: 2px solid var(--button_outline_color);
   border-radius: var(--button_radius);
   padding: 0.75em 1.25em;
   background: var(--button_color);
   color: var(--button_outline_color);
   transform: translateY(-0.2em);
   transition: transform 0.1s ease;
}
button:hover .button_top {
   transform: translateY(-0.33em);
   background-color: #7F797F;
}
button:active .button_top {
   transform: translateY(0);
}

.orderButton{
    width: 150px;
    height: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.15);
    background: black;
}
.orderButton span {
    transition: 200ms;
}  
.finalPrice {
    transform: translateX(35px);
    color: white;
    font-weight: bold;
}
.icon {
    position: absolute;
    border-left: 1px solid white;
    transform: translateX(110px);
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.orderButton svg {
    width: 15px;
    fill: #eee;
}
.orderButton:hover {
    background: #272727;
}
.orderButton:hover .finalPrice {
    color: transparent;
}
.orderButton:hover .icon {
    width: 150px;
    border-left: none;
    transform: translateX(0);
}
.orderButton:focus {
    outline: none;
}
.orderButton:active .icon svg {
    transform: scale(0.8);
}